#menu_item {
  text-decoration: none;
  color: rgb(146, 146, 146);
  opacity: 1;
  transition: opacity 1s;
}

#menu_item.hide {
  opacity: 0;
}

#menu_item:hover {
  color: #464646;
}

.container {
    margin: auto;
    width: 50%;
    padding: 20px;
}

.btn {
    border: none;
    padding: 10px;
    cursor: pointer;
  }
  
.btn:hover {
    color: rgb(120, 120, 120);
}

.header {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
}

.hashtag {
    text-decoration: none;
    transition: 0.2s;
    color:#c3c3c3;
    padding-right: 5px;
}

.hashtag:hover {
    color:#8c8c8c;
}

.sidenav {
  height: 100%;
  position: fixed;
  top: 15px;
  left: 10px;
}

.progress-container {
  width: 100%;
  height: 10px;
  background: rgb(225, 225, 225);
}

.progress-bar {
  height: 10px;
  background: #adadad;
  width: 0%;
}

body {
  overflow-y: hidden; /* Hide vertical scrollbar */
}