{% extends "basic.html" %}

{% block body %}

<div class="container">
    <h1>The note bank</h1><br>

    <p>
        Here you'll find bite-sized explainers of mathematical concepts on an undergraduate level. You're most
        welcome to contribute, either by writing up notes or changing the code. Check out the <a
            href="https://github.com/isabeldahlgren/note-bank">GitHub</a> page or reach out via <a
            href="mailto: isabelda@kth.se">email</a>.
    </p>
    <br>
    <form action="/intro"><button type="submit" class="btn btn-light">SF10003</button></form>

</div>

{% endblock %}