a {
  color: rgb(146, 146, 146);
}

a:hover {
  color: #464646;
}

#menu_item {
    text-decoration: none;
    color: rgb(146, 146, 146);
  }

  #menu_item:hover {
    color: #464646;
  }

h1 {
    font-size: 75px;
    text-align: center;
    background-image: linear-gradient(#6ea1ff, #ff8940);
    background-clip: text;
    color: transparent
}

/* .container {
    margin: auto;
    width: 50%;
    padding: 10px;
}
 */

 @media (min-width: 992px) {
    .container {
        width: 50%;
        padding: 20px;
    }
 }