#menu_item {
  text-decoration: none;
  color: rgb(146, 146, 146);
  margin-left: 15px;
  margin-top: 15px;
  opacity: 0;
  transition: opacity 0.2s;
}

#menu_item.show {
  opacity: 1;
}

#menu_item:hover {
  color: #464646;
}

.container {
    margin: auto;
    width: 50%;
    padding: 20px;
}

.btn {
  border: none;
}

.btn:hover {
  color: rgb(120, 120, 120);
}

.header {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
}

.hashtag {
    text-decoration: none;
    transition: 0.2s;
    color:#d2d2d2;
    padding-left: 5px;
}

.hashtag:hover {
    color:#8c8c8c;
}

.sidenav {
  position: sticky;
  height: 100%;
  width: 25%;
  top: 10px;
  z-index: -1;
}

::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-track{
  background:#ffffff;
}
::-webkit-scrollbar-thumb{
  background:#b6b6b6;
}
