#menu_item {
  text-decoration: none;
  color: rgb(146, 146, 146);
  opacity: 0;
  transition: opacity 0.2s;
  z-index: 2;
}

#menu_item.show {
  opacity: 1;
}

#menu_item:hover {
  color: #464646;
}

@media (min-width: 992px) {
  .container {
      width: 50%;
      margin-top: 20px;
  }
}

.btn {
  border: none;
}

.btn:hover {
  color: rgb(120, 120, 120);
}

.header {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 20px;
}

.hashtag {
    text-decoration: none;
    transition: 0.2s;
    color:#d2d2d2;
    padding-left: 5px;
}

.hashtag:hover {
    color:#8c8c8c;
}

h1, h2, h3, h4, h5, h6 {
  padding-top: 20px;
  margin-top: -20px;
}

.sidenav {
  position: sticky;
  height: 100%;
  width: 25%;
  top: 0px;
  padding: 10px;
}

::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-track{
  background:#ffffff;
}
::-webkit-scrollbar-thumb{
  background:#b6b6b6;
}
